# Feature Selection Technique

A feature is an attribute that has an impact on a problem or is useful for problem, and choosing the important features for the model is known as feature selection.

### forward Elimination

Forward elimination is a method for feature selection used in building predictive models, primarily regression models. It is a greedy, iterative approach that starts with the simplest possible model (a model with no features) and gradually adds features one by one until adding any more features no longer improves the model's performance significantly.

##### The Process of Forward Elimination:

The goal is to find the optimal subset of features that best explains the target variable while keeping the model simple and reducing noise.

Here is how the algorithm works in a step-by-step manner:
- Step 1: Start with Nothing
Begin with an empty set of predictors. This is your "baseline" model (usually just the average of the target variable).

- Step 2: Evaluate All Single Features
Train separate models for every single available feature.

- Step 3: Select the Best Feature
Choose the single feature that results in the most statistically significant improvement to the baseline model (often measured using metrics like the R-squared value, p-value, or AIC/BIC). Add this feature to your set of predictors.

- Step 4: Iterate and Add the Next Best Feature
Keep the previously selected features in the model. Now, try adding each of the remaining features one at a time to the current model.

- Step 5: Select the Next Best Feature
Select the new feature that provides the greatest additional improvement when combined with the features already selected. Add it to the set.

- Step 6: Stop When Improvement is Insignificant
Repeat Steps 4 and 5 until the addition of any remaining feature does not improve the model beyond a predefined threshold (e.g., the p-value of the new feature is too high, or the improvement in R-squared is minimal).

##### Summary of the Method

- Approach: Bottom-up (starts empty and adds features).

- Goal: Build the best model with the fewest necessary features.

- Advantage: Relatively straightforward to implement and computationally efficient compared to evaluating every possible combination of features.

- Disadvantage: A greedy approach might miss the optimal combination if the 


### Backward Elimination:

Backward elimination is another popular method for feature selection in statistical modeling. Unlike forward elimination, which starts from an empty model and adds features, backward elimination starts with the full model (including all available features) and gradually removes the least useful features one at a time.

##### The Process of Backward Elimination:

The goal is to simplify the complex full model without significantly compromising its predictive power, ultimately finding the most impactful subset of features.


Here is how the algorithm works in a step-by-step manner:
- Step 1: Start with All Features
Begin with the complete set of all available predictor variables in your model.

- Step 2: Train the Full Model
Fit the model (e.g., linear regression) using all the features and calculate performance metrics or statistical significance for each feature (e.g., p-values).

- Step 3: Identify the Worst Feature
Examine the statistics for all features. Identify the single feature that is the least statistically significant (often the one with the highest p-value, indicating it is least likely to have a relationship with the target variable).

- Step 4: Remove the Worst Feature
If the identified feature fails a predefined threshold (e.g., its p-value is greater than 0.05), you permanently remove it from the model.

- Step 5: Re-train and Repeat
Train the new, reduced model using the remaining features. Go back to Step 3 and reassess the significance of the features still in the model.

- Step 6: Stop When All Features Are Significant
Repeat Steps 3, 4, and 5 until all remaining features in the model are statistically significant (i.e., every feature's p-value is below your threshold, like 0.05).

##### Summary of the Method

- Approach: Top-down (starts full and removes features).

- Goal: Simplify the model while maintaining performance.

- Advantage: Often finds a better local optimum than forward selection because it considers all feature interactions initially.

- Disadvantage: It can be computationally expensive to train the full model repeatedly, especially with a very large number of initial features.

In [4]:
import pandas as pd
from mlxtend.feature_selection import SequentialFeatureSelector

In [6]:
loan_data = pd.read_csv('loan.csv')

In [7]:
loan_data.head(10)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
6,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
7,LP001014,Male,Yes,3+,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban,N
8,LP001018,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban,Y
9,LP001020,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban,N

In [10]:
x = loan_data.iloc[:, :-1]
y = loan_data['Loan_Status']

In [13]:
x.shape

(614, 12)

In [11]:
from sklearn.linear_model import LogisticRegression

In [12]:
lr = LogisticRegression()

To make backward elimination assign forward = False

In [ ]:
fs = SequentialFeatureSelector(lr, k_features=5, forward=True)
fs.fit(x, y)

In [18]:
fs.feature_names

['Loan_ID',
 'Gender',
 'Married',
 'Dependents',
 'Education',
 'Self_Employed',
 'ApplicantIncome',
 'CoapplicantIncome',
 'LoanAmount',
 'Loan_Amount_Term',
 'Credit_History',
 'Property_Area']

In [19]:
fs.k_feature_names_

In [ ]:
fs.k_score_